aniso8601
asttokens
attrs
backcall
bcrypt
beautifulsoup4
bleach
blis
bottle
bottle-websocket
catalogue
certifi
cffi
charset-normalizer
click
click-log
colorama
cryptography
cuttle
cycler
cymem
decorator
defusedxml
Eel
entrypoints
executing
Flask
Flask-RESTful
Flask-SQLAlchemy
Flask-WTF
fonttools
future
gevent
gevent-websocket
greenlet
idna
imutils
ipython
itsdangerous
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
kiwisolver
langcodes
MarkupSafe
matplotlib
matplotlib-inline
mistune
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
numpy
opencv-python.60
packaging
pandas
pandocfilters
paramiko
parso
pathy
pickleshare
Pillow
preshed
prompt-toolkit
pure-eval
pycparser
pydantic
Pygments
PyNaCl
pyparsing
pyrsistent
pytesseract
python-dateutil
pytz
pyzmq
requests
scipy
scp
six
smart-open
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
testpath
thinc
tk
tornado
tqdm
traitlets
ttkthemes
typer
typing_extensions
urllib3
wasabi
wcwidth
webencodings
Werkzeug
whichcraft
WTForms
zope.event
zope.interface