<!doctype html>
<html>
	<head>
		<style>
			h1{text-align: left;}
            div{text-align: left;}

		</style>
	</head>
	<body style="background-color:#dbeef3af;">
		 <h1 style="text-align:center;color: orangered;">Picture and associated information storage and retrieval information system</h1> 
		 <h2>Karan Singh</h2>
		 <h2>1002085434</h2>
		 <img style="height: 150px"  src="../static/smile.jpg" alt="No image found">
		 <br><br><br>

		<div class='container'>
			<a href="/all">View people</a><br><br>
			<a href="/find">Details of a particular person</a><br><br>
			<a href="/updatekey">Update a Keyword</a><br><br>
			<a href="/remove">Delete a record</a><br><br>
			<a href="/range_sal">Person details based on salary range</a><br><br>
			<a href="/updatesalary">Update Salary</a><br><br>
			<a href="/add_pic">Put a picture</a><br><br>
			
		</div>
		
	
</html>