
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{text-align: left;}
        div{text-align: left;}
    </style>
</head>
<body style="background-color:#dbeef3af;">
    <h2>Karan Singh</h2>
	<h2>85434</h2>
            <br>
        <div>   
            <a href="/">Home</a>
        </div>    
		<br> <br>
    <div>
		<form method="POST" action="/range_sal" >
			Room range:<input type = "number" name = "stRange" />
            <input type = "number" name = "endRange" />
			<input type = "submit" name = "notmatch"/>
		 </form>
    </div>
</body>
</html>